<section class="profile__container">
  <aside class="aside__profile">
    <button (click)="return()">return</button>
    <div class="profile-details__container">
      <div class="profile-photo__container">
        <img class="photo" src="" alt="">
      </div>
    </div>
  </aside>
  <main class="main-container">
    <div class="details-container">
      <h1 class="user-name">Eduardo</h1>
      <p class="user-since_details">Usuario desde</p>
      <button class="logout__btn">
        Sair
      </button>
    </div>
  </main>
</section>
