.task-detail__container{
  flex-direction: column;
  background-color: #EEEEEE;
  height: 90vh;
  min-width: 48.6vw;
}

.task-detail__header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 1em;
  background-color: #3E54AC;
  color: white;
  border-radius: 10px;
  min-width: 18em;
  margin: .5em 1em;
}

.form__taskName,
.form__date,
.form__desc
{
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  background-color: #BFDCE5;
  border-radius: 10px;
}

.task_name:focus, .task_date:focus{
  border: 2px dotted #AD7BE9;
  outline: none;
}

.task_name, .task_date{
  height: 1em;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 1em;
}

.task_desc{
  height: 10em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

.task_desc:focus{
  border: 2px dotted #AD7BE9;
  outline: none;
}

.task-btn__container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn_task{
  height: 2.5em;
  width: 10em;
  background-color: #AD7BE9;
  border: none;
  border-radius: 10px;
  color: white;
}

.btn_task:hover{
  background-color: white;
  color: #AD7BE9;
  border: 2px dotted #AD7BE9;
}

.line-task{
  margin: 1em 1em 0 1em;
}
