<div class="task-detail__container">
  <div class="task-detail__header">
    <p>Nova Tarefa</p>
  </div>
  <hr class="line-task">
  <form>
    <div class="form__taskName">
      <label for="">Task name</label>
      <input class="task_name" type="text"
        id="taskName"
        name="taskName"
        placeholder="Digite o nome da sua Task"
        [(ngModel)]="task.task_name">
    </div>
    <div  class="form__date">
      <label for="">Date</label>
      <input class="task_date" type="date"
        id="taskDate"
        name="taskDate"
        [(ngModel)]="task.date">
    </div>
    <div  class="form__desc">
      <label for="">Description</label>
      <textarea class="task_desc" [(ngModel)]="task.desc" name="taskDesc" id="taskDesc" cols="30" rows="10" placeholder="Digite a descrição da sua Task"></textarea>
    </div>
  </form>
  <div class="task-btn__container">
    <button class="btn_task" (click)="salveTask()">Salvar</button>
    <button class="btn_task" (click)="clear()">Clear</button>
  </div>
</div>
