.sideBar__container{
  display: flex;
  flex-direction: column;
  background-color: #AA77FF;
  height: 100vh;
  width: 5em;
}

.material-symbols-outlined{
  font-size: 45px;
}

.logo__container{
  display: flex;
  justify-content: center;
  margin: .5em;
}

.line{
  margin: .5em;
}

.btns__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__btn{
  width: 4em;
  height: 4em;
  margin: .5em;
  color: #BFDCE5;
  border: none;
  background-color: #AA77FF;
}

.dashboard__btn:hover{
  color: #AA77FF;
  background-color: #BFDCE5;
}

