.task-list__container{
  display: flex;
  flex-direction: column;
  min-width: 25em;
  border-left: 1px solid #AD7BE9;
  border-right: 1px solid #AD7BE9;
  padding: .5em;
  background-color: #EEEEEE;
  height: 90vh;
}

.task-list__header{
  background-color: #3E54AC;
  border-radius: 10px;
  color: white;
  padding: .5em;
}

.task-list__header-infos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em;
  justify-content: space-around;
}

.task-list__title{
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.task-list__btn-container{
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.task-list__btn{
  background: #AD7BE9;
  color: white;
  border: none;
  border-radius: 5px;
}

.task-list__btn:hover{
  background: white;
  color: #AD7BE9;
}

.filter__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line-task{
  margin: 1em 1em 0 1em;
}

.cards__container{
  height: 75vh;
  overflow-y: auto;
}
