.task-list__container{
  display: flex;
  flex-direction: column;
  width: 25em;
}

.task-list__header-infos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em;
}

.task-list__title{
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.task-list__btn-container{
  display: flex;
  flex-direction: column;
  margin: .5em;
}

.task-list__btn{
  background: rgb(11, 0, 168);
  color: white;
}

.filter__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line-task{
  margin: 1em;
}

.cards__container{
  height: 75vh;
  overflow-y: auto;
}

.task__card{
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid black;
}
