<div class="task-list__container">
  <div class="task-list__header">
    <div class="task-list__header-infos">
      <div class="task-list__title">
        <p>Proximas Tarefas</p>
      </div>
      <div class="task-list__btn-container">
        <button class="task-list__btn">
          <span class="material-symbols-outlined">
            add
          </span>
        </button>
      </div>
    </div>
    <div class="filter__container">
      filtros
    </div>
  </div>
  <hr class="line-task">
  <div class="cards__container">
    <app-card [taskList]="taskList"></app-card>
  </div>
</div>
